body {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color:rgb(244, 206, 188);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 50px;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(235, 72, 50);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-color:rgb(209, 45, 23);
}

.content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;    
}

.heading {
    font-size: 30px;
    color: rgb(209, 45, 23);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

img {
    height: 350px;
    width: 600px;
    border-radius: 50px;
    border: 2px solid rgb(209, 45, 23);
}

.item p {
    font-size: 24px;
    margin: 0px;
}